<!DOCTYPE html>
<html lang="en">
     <head>
          <!-- Required meta tags -->
           <meta charset="utf-8" /><!-- Chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">

            </script><title>Hello world!</title>
            </head> 
    <body>
      <h1><center>BDAT 1004 Crypto Currency Project</center><h1>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href='linechart.html'>Line Graph</a></li>
              <li><a href='PriceBarChart.html'>Bar Chart</a></li>
              <li><a href='piechart.html'>Pie Chart</a></li>
          </ul>
      </div>
    </body>
   </html>