<!DOCTYPE html>
<html lang="en">
     <head>
          <!-- Required meta tags -->
           <meta charset="utf-8" /><!-- Chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <style>
              li a {display:inline-block;
              color:#000;
            padding: 8px 16px;
          text-decoration:wavy;}
              li a:hover{background-color: #555;
              color: white;}
              ul {list-style-type: none;
              margin: 20;
            padding: 200;
          width: 200px;
        background-color: #f1f1f1;
      display: inline;
    justify-content: space-around;}
    #div1{
    display: inline;}

              </style>
            <title>BDAT 1004 Final Project - Crypto Currency</title>
            </head> 
    <body>
      <h1><center>BDAT 1004 Crypto Currency Project</center><h1>
      
        <center><ul>
              <li><a href='/LineChart'>Line Graph</a></li>
              <li><a href='/BarChart'>Bar Chart</a></li>
              <li><a href='/piechart'>Pie Chart</a></li>
          </ul></center>
   


    </body>
   </html>