<!DOCTYPE html>
<html lang="en">
     <head>
          <!-- Required meta tags -->
           <meta charset="utf-8" /><!-- Chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">

            </script><title>BDAT1004 Final Project Crypto Currency</title>
            <style>
                li a {display:inline-block;
                color:#000;
              padding: 8px 16px;
            text-decoration:wavy;}
                li a:hover{background-color: #555;
                color: white;}
                ul {list-style-type: none;
                margin: 20;
              padding: 200;
            width: 200px;
          background-color: #f1f1f1;
        display: inline;
      justify-content: space-around;}
      #div1{
      display: inline;}
            </head> 
            <body>
                <H1><center>Doughnut chart to show the market share of the top ten highest Price Crypto Currencies<center></H1>
                <canvas id = "piechart" width="900" height="400"></canvas>
                
                    <canvas id = "linechart" width="900" height="400"></canvas>
                <script>
                    var ctx = document.getElementById("piechart").getContext("2d");
                    var barchart = new Chart(ctx,{
                        type: "doughnut",
                        data: {
                            labels: {{labels|safe}},
                            datasets:[
                                {
                                    label: "Data points",
                                    data: {{values|safe}},
                                    fill: true,
                                    backgroundColor: ['rgb(255, 99, 132)',
                                                      'rgb(54, 162, 235)',
                                                    'rgb(83, 83, 83)',
                                                    'rgb(255, 6, 132)',
                                                      'rgb(0, 0, 90)',
                                                    'rgb(255, 100, 86)',
                                                    'rgb(135, 46, 179)',
                                                      'rgb(31, 106, 70)',
                                                    'rgb(255, 205, 0)',
                                                    'rgb(250, 0, 10)',
                                                      'rgb(78, 242, 219)',],
      hoverOffset: 4,
      borderAlign: 'center',
      borderRadius: 2,
      weight: 5
                                }
                            ]
                        },
                        options: {
                            responsive: true
                        }
                    })
                </script>

                </canvas> 
            </body>
        </html>