<!DOCTYPE html>
<html lang="en">
     <head>
          <!-- Required meta tags -->
           <meta charset="utf-8" /><!-- Chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">

            </script><title>Hello world!</title>
            </head> 
            <body>
                <H1><center>Bar graph to show the compare the Prices of Crypto Currencies<center></H1>
                <canvas id = "barchart" width="900" height="400"></canvas>

                <script>
                    var ctx = document.getElementById("barchart").getContext("2d");
                    var barchart = new Chart(ctx,{
                        type: "bar",
                        data: {
                            labels: {{labels|safe}},
                            datasets:[
                                {
                                    label: "Price of the crypto currency",
                                    data: {{values|safe}},
                                    fill: true,
                                    backgroundColor: "rgb(200,0,255)",
                                    barThickness: 50,
                                    fill: true,
                                    borderColor:"rgb(0,0,0)",
                                    borderWidth: 3,
                                    lineTension: 0.1 
                                }
                            ]
                        },
                        options: {
                            responsive: true
                        }
                    })
                </script>

                </canvas> 
            </body>
        </html>